<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
<h2>Sign Up</h2>
<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>

    <input type="submit" value="Sign Up">
</form>
<a href="/registration">Add new user</a>
</body>
</html>
