<!DOCTYPE html>
<html lang="ru">
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Log Out">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>

    <br>

    <form method="post" action="http://localhost:8080/q/add">
        <input type="text" name="title" placeholder="Write question">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="description" placeholder="Write answer">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="tag" placeholder="Write tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Submit</button>
    </form>

</div>

<div>Question list</div>

<form method="post" action="http://localhost:8080/q/filter">
    <input type="text" name="tag" placeholder="Write tag for search">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Search</button>
</form>

    {{#questionDTO}}
        <div>
            <b>{{id}}</b>
            <span>{{title}}</span>
            <span>{{description}}</span>
            <i>{{tag}}</i>
        </div>
    {{/questionDTO}}

</body>
</html>
